:root {
    --main-bg: rgb(135, 206, 235);
}

body {
    background-color: var(--main-bg);
    font-family: sans-serif;
    padding: 0px;
}

/* Article Paragraphs */
#first-child {
    color: white;
    background-color: black;
}

#second-child {
    color: initial;
}

#third-child {
    color: initial; /* You can specify a color if needed */
}

#last-of-type {
    color: red;
}

/* Unordered List */
li {
    background-color: gray;
    width: 50%;
    padding: 10px;
    list-style-type: disc;
    margin-bottom: 2px;
}

li:nth-child(odd) {
    background-color: white;
}

li:first-child, 
li:last-child {
    font-size: 22px;
}

li:nth-last-child(3) {
    background-color: pink;
}